#aboutMe {
  background: #f6f6f6;
  display: block;
}

.aboutMe-desc {
  margin: 0 auto;
  padding: 120px 0 64px 0;
  max-width: 940px;
}

.aboutMe-title {
  margin-bottom: 18px;
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: var(--primary-text-color);
}

.aboutMe-message {
  margin: 0 auto;
  width: 485px;
}

.aboutMe-notice {
  margin-bottom: 43px;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--primary-text-color);
}

@media (max-width: 992px) {
  .aboutMe-desc {
    padding: 100px 10px 60px;
  }
}

@media (max-width: 768px) {
  .aboutMe-desc {
    padding: 90px 29px 50px;
  }

  .aboutMe-message {
    width: fit-content;
    width: -moz-fit-content;
  }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
  .aboutMe-desc {
    padding: 81px 29px 76px 29px;
  }

  .aboutMe-message {
    width: fit-content;
    width: -moz-fit-content;
  }
}

@media (max-width: 425px) {
  .aboutMe-desc {
    padding: 81px 29px 76px 29px;
  }

  .aboutMe-message {
    width: fit-content;
    width: -moz-fit-content;
  }
}
