.headerNavigation {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: 33px 0;
    width: 940px;
    background: var(--primary-bcg-color);
    border-bottom: 1px solid var(--secondary-text-color);
    z-index: 105;
}

.headerNavigation_Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerNavigation_Items {
    list-style: none;
}

.headerNavigation_Links {
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: var(--secondary-text-color);
    transition: 0.3s;

}

.headerNavigation_Links:hover {
    color: var(--primary-text-color);
    transition: 0.3s;
}

.headerNavigation_button {
    position: relative;
    display: none;
    /*background: var(--secondary-text-color);*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.headerNavigation_Line,
.headerNavigation_Line::before,
.headerNavigation_Line::after {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: 0px;
    margin-left: -16px;
    width: 32px;
    height: 4px;
    background: #000;
}

.headerNavigation_Line::before,
.headerNavigation_Line::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.headerNavigation_Line::before{
    transform: translateY(-10px);
}
.headerNavigation_Line::after{
    transform: translateY(8px);
}

.headerNavigation_button_active .headerNavigation_Line{
    background-color: transparent;
}
.headerNavigation_button_active .headerNavigation_Line::before{
    transform: rotate(-45deg);
}
.headerNavigation_button_active .headerNavigation_Line::after{
    transform: rotate(225deg);
}


/*Начало блока медиазапросов*/

/*@media screen and (min-width: 1024px) and (max-width: 1920px) {*/

/*    .headerNavigation {*/
/*        width: 960px;*/
/*    }*/
/*}*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .headerNavigation {
        width: 720px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    .headerNavigation {
        width: 540px;
    }
}

@media screen and (min-width: 425px) and (max-width: 575px) {

    .headerNavigation {
        width: 400px;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {

    .headerNavigation {
        padding: 0;
        width: 100%;
        border: 0;
    }

    .headerNavigation_Menu {
        display: none;
    }

    .headerNavigation_button {
        position: fixed;
        display: inline-block;
        left: 296px;
        top: 66px;
        cursor: pointer;
        z-index: 105;
    }

    .headerNavigation_button_active {
        position: fixed;
        margin: 0;
        top: 66px;
        z-index: 106;
    }

    .headerNavigation_hidden {
        position: fixed;
        padding: 66px 26px;
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        transition: 0.5s all;
        background: #fff;
        z-index: 100;
    }

    .headerNavigation_Items {
       margin-bottom: 68px;
    }

    .headerNavigation_Links {
        font-family:  var(--secondary-font);
        font-size: 34px;
        line-height: 42px;
        text-align: left;
    }

    .headerNavigation_Links:hover {
        color: var(--hidden-nav-text-color);
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .headerNavigation {
        padding: 0;
        width: 100%;
        border: 0;
    }

    .headerNavigation_Menu {
        display: none;
    }

    .home-description {
        padding-left: 14px;
    }

    .headerNavigation_button {
        position: fixed;
        display: inline-block;
        left: 240px;
        top: 68px;
        cursor: pointer;
        z-index: 101;
    }

    .headerNavigation_button_active {
        position: fixed;
        margin: 0;
        top: 68px;
        z-index: 106;
    }

    .headerNavigation_hidden {
        position: fixed;
        padding: 68px 20px;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        transition: 0.5s all;
        background: #fff;
        z-index: 100;
    }

    .headerNavigation_Items {
        margin-bottom: 68px;
    }

    .headerNavigation_Links {
        padding-left: 20px;
        font-family:  var(--secondary-font);
        font-size: 34px;
        line-height: 42px;
        text-align: left;
    }

    .headerNavigation_Links:hover {
        color: var(--hidden-nav-text-color);
    }
}
