#home {
    display: none;
    margin: 0 auto;
    padding: 40px 0 104px 0;
    width: 1140px;
}

.home_Title {
    font-family: Gilroy-Bold;
    font-size: 47px;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-text-color);
}