#skills {
    padding: 91px 0 110px 0;
}

.skills-title {
    margin-bottom: 69px;
    font-family: var(--secondary-font);
    font-size: 34px;
    line-height: 42px;
    text-transform: capitalize;
    text-align: center;
}

.skills-subtitle {
    margin-bottom: 83px;
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.skills-tech {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-text {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

/* Начало блока медиазапросов */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .skills-tech {
        width: 500px;
        flex-wrap: wrap;
    }
    
    .skills-rate {
        margin-bottom: 50px;
        width: 100px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    #skills {
        padding: 83px 0 98px 0;
    }
    
    .skills-title {
        margin-bottom: 50px;
    }

    .skills-subtitle {
        margin-bottom: 71px;
    }

    .skills-tech {
      display: block;

        width: 100%;
    }

    .skills-rate {
        margin-bottom: 82px;
        width: initial;
    }
}

@media screen and (min-width: 425px) and (max-width: 575px) {

    #skills {
        padding: 83px 0 16px 0;
    }

    .skills-title {
        margin-bottom: 50px;
    }

    .skills-subtitle {
        margin-bottom: 71px;
    }

    .skills-tech {
        display: block;

        width: 100%;
    }

    .skills-rate {
        margin-bottom: 82px;
        width: initial;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {

    #skills {
        padding: 83px 0 16px 0;
    }

    .skills-title {
        margin-bottom: 50px;
    }

    .skills-subtitle {
        margin-bottom: 71px;
    }

    .skills-tech {
        display: block;

        width: 100%;
    }

    .skills-rate {
        margin-bottom: 82px;
        width: initial;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {

    #skills {
        padding: 83px 0 16px 0;
    }

    .skills-title {
        margin-bottom: 50px;
    }

    .skills-subtitle {
        margin-bottom: 71px;
    }

    .skills-tech {
        display: block;

        width: 100%;
    }

    .skills-rate {
        margin-bottom: 82px;
        width: initial;
    }
}