.aplform-header {
  text-align: center;
  text-transform: uppercase;
  color: lightgreen;
  font-family: "USSR STENCIL";
}
.aplform {
  background: dimgray;
}
.aplrmques {
  color: bisque;
  font-family: "USSR STENCIL";
}
.aplform-bxs {
  background: lightgreen;
  color: black;
  font-weight: bolder;
  font-size: medium;
}
.can {
  position: absolute;
  margin-left: 700px;
  margin-top: -700px;
}
