body {
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow";
    color: #000;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.catalogList {
    padding-left: 50px;
}

.catalogTitle {
    margin: 25px 0;
    padding-left: 25px;
    font-size: 36px;
    font-weight: bold;
}

.catalogSubtitle {
    padding-left: 15px;
    font-size: 24px;
    line-height: 40px;

}

.catalogLink {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.catalogLink:hover {
    transition: 0.3s;
    color: blue;
}

.bookCard {
    margin: 15px auto;
    padding-bottom: 15px;
    width: 750px;
    background: linear-gradient(45deg, snow, lightskyblue);
    box-shadow: 5px 5px 10px #ccc;

}

.bookTitle {
    padding: 10px 0 10px 25px;
    font-size: 36px;
    font-weight: bold;
    text-align: justify;
}

.bookImage {
    margin: 0;
    padding-left: 25px;
}

.bookAuthor {
    margin-top: 20px;
    font-size: 20px;
}

.bookSubtitle {
    margin-top: 20px;
    padding-left: 25px;
    font-size: 24px;
}

.bookDescription {
    margin: 20px 0;
    padding-left: 25px;
    width: 710px;
    font-size: 18px;
    text-align: justify;
}

.bookLink {
    padding-left: 25px;
    font-size: 18px;
    text-decoration: none;
    color: blue;
}

.bookLink:hover {
    text-decoration: underline;
}